# keep that alphabetical please
*.bak
*.c5
*.dict
*.dict.dz
freedict-database.xml
freedict-editor/Makefile
freedict-editor/Makefile.in
freedict-editor/aclocal.m4
freedict-editor/autom4te.cache/
freedict-editor/compile
freedict-editor/config.h
freedict-editor/config.h.in
freedict-editor/config.log
freedict-editor/config.status
freedict-editor/configure
freedict-editor/data/Makefile
freedict-editor/data/Makefile.in
freedict-editor/help/C/Makefile
freedict-editor/help/C/Makefile.in
freedict-editor/help/C/html/
freedict-editor/help/Makefile
freedict-editor/help/Makefile.in
freedict-editor/intltool-extract.in
freedict-editor/intltool-merge.in
freedict-editor/intltool-update.in
freedict-editor/pixmaps/Makefile
freedict-editor/pixmaps/Makefile.in
freedict-editor/po/Makefile
freedict-editor/po/Makefile.in
freedict-editor/po/Makefile.in.in
freedict-editor/po/POTFILES
freedict-editor/po/stamp-it
freedict-editor/src/.deps/
freedict-editor/src/Makefile
freedict-editor/src/Makefile.in
freedict-editor/stamp-h1
frs/
howto/inc/kha-deu.tei.header.escaped.xml
howto/inc/la1-la2.template.tei.escaped.xml
*.index
*.mo
release
website/editordoc.html
website/flags-bedic.php
website/flags-evolutionary.php
website/freedict-database.xml
website/howto
website-static/static/
