html, TEI {	width:80%;
	margin:auto;
	padding-bottom:70px;
	font-family: sans-serif;
	/*display:none; */
}
div {width:750px;margin:auto;}
title {	display:block;
	margin:10px;
	color:blue;
	font-size:x-large;
}

teiHeader {display:none;}

front {	display:block;}

back { 	display:block;
	margin-top :50px;
}
/* GENERAL */
p {
	display:block;
	text-align:justify;
}

/* quote {	display:block;
	margin-left:30px;
	font-style:italic; */
}
/* LISTES */
list {	display:block;}

item{	display:block;
	text-align:center;}

xr,date,head {display:block;}

head { 	font-weight:bold;
	text-transform:uppercase;
}

/* DICO */
entry {	display:block;}

/* entry > form {	display:block;}*/

entry > form > orth {content:""; margin-left:5px; font-weight:bold;}

/* sense {	display:block;
	margin-left:50px} */
sense:before {content:""; margin-left:50px;}
sense {display:block;}

cit[type="translation"] {color:blue;}

sense > cit[type="translation"]:before {content:"  ↪ ";margin-left:5px}
sense > cit[type="translation"] {display:inline;}
cit[type="translation"] > quote {display: inline; margin-left:5px}

cit[type="example"]:before {content:"• "; margin-left:75px;}
cit[type="example"] {display:block;}

cit[type="example"] > q {display:inline;}
cit[type="example"] > cit[type="translation"] {display:inline;}

cit[type="example"] > cit[type="translation"] > quote:before {content:" ↪ ";}
cit[type="example"] > cit[type="translation"] > quote {	display:inline;}

cit[type="example"] > cit[usg="litt"] > quote:before {content:" litt. ";}
cit[type="example"] > cit[usg="litt"] > quote {	display:inline; font-style:italic; color:gray;}

form[type="infl"] {display: inline; color:green}
form[type="infl"]:before {content:" "}
form[type="infl"]:after {content:""}

form[type="plur"] {display: inline; font-style:italic;}
form[type="plur"]:before {content:" "}
form[type="plur"]:after {content:" "}

form[type="sing"] {display: inline; font-style:italic;}
form[type="sing"]:before {content:" "}

form[type="pastp"] {display: inline; font-style:italic;}
form[type="pastp"]:before {content:" "}

form[type="dual"] {display: inline; font-style:italic;}
form[type="dual"]:before {content:" d: ";color:#000080;}

def:before {content:" ";}
def{color:purple; font-style:italic;}

note{}

lbl:before {	content: " (";}
lbl {}
lbl:after {	content: ")";}

usg:before {content:" ["; font-weight:bold; color:purple;}
usg {font-weight:bold;color:purple;}
usg:after {content:"]"; font-weight:bold;color:purple;}

gen:before {content :" "}
gen {color:#CC6666;}
gen:after {content :""}

number:before {content :" "}
number {color:#CC6666;}

pos:before {content: " ";}
pos {	display:inline; color:#FF2222;}

hi {font-weight:bold;}

grmGrp:before {content:" "}
grmGrp {}
grmGrp:after {content:""}

/*orth {color:pink} */

/*⇗↳↪• */
