/* CSS for the English-Polish FreeDict dictionary, by Piotr Bański (bansp in the domain of o2.pl) */
/* Version: 0.1 (snatched from CSS for another dictionary), 6 May 2010. License: Creative Commons BY 3.0 */

/* $Id:$ */

/* it should definitely be tuned for this dictionary */

/*************** the header part ***************/
title, respStmt, editionStmt, edition, extent, publicationStmt, publisher, availability, sourceDesc, 
fileDesc, encodingDesc, revisionDesc, change, item, pubPlace, list > head {display:block; margin-bottom: 1em}

titleStmt > title, edition { font-weight:bold}

titleStmt > title {font-size:larger; text-align:center}

p title, p name, change title, change name {font-weight:inherit; display:inline}

/* edition > date {margin-left: 1em} */
/* not needed for now, <edition/> is used for version numbering */

edition:before {content: "Version ";  font-weight:bold}

p, list {display:block}
list {margin-left: 1em}

list > head {font-weight:bold}

extent:before {content: "Extent: "}
publisher:before {content: "Publisher: "}
availability:before {content: "Availability: "}
publicationStmt > date:before {content: "Publication date: "}
pubPlace:before {content: "Published at: "}

publicationStmt:before {content: "Publication Statement"; color:blue; font-size:larger}

editionStmt:before {content: "Edition Statement"; color:blue; font-size:larger}

sourceDesc:before {content: "Source Description"; color:blue; font-size:larger}

projectDesc:before {content: "Project Description"; color:blue; font-size:larger}

revisionDesc:before {content: "Change Log"; color:blue; font-size:larger}

respStmt:before, list[type='bulleted'] > item:before {content:"* "}

teiHeader {display:block; margin-bottom: 3em}

name {color:teal}

foreign {font-style:italic}

teiHeader {border-bottom:solid black 1px} 

/*************** dictionary body ***************/
entry, sense, cit, re {display:block}

form, gramGrp, xr, quote, bibl, gloss, note[type] {display: inline}

gramGrp, /* usg,*/ quote {font-style: italic}

gramGrp {color:brown}

gramGrp > gramGrp {font-style:normal; color:black}
gramGrp > gramGrp:before {content:"(agrees with "}
gramGrp > gramGrp:after {content:")"}

gramGrp > gram[type='cl-agr']:before {content: "cl. "}

q:before {content:open-quote}
q:after {content:close-quote}

/* hiding untyped <note> elements 
note {display:none}
note[type] {display:block}
*/

note[type]:before {content: "("; color:black; font-weight:normal}
note[type]:after {content: ")"; color:black; font-weight:normal}

/*note[type='style'], note[type='infl-base'], note[type='hint'], note[type='num'], note[type='gram'] {display:inline}*/
/*note[type='style']:before, note[type='infl-base']:before, 
note[type='hint']:before, note[type='num']:before, note[type='gram']:before {content: "("; color:black; font-weight:normal}
*/
/*note[type='style']:after, note[type='infl-base']:after, 
note[type='hint']:after, note[type='num']:after, note[type='gram']:after {content: ")"; color:black; font-weight:normal}
*/

note[type='def'], note[type='status'], note[type='gram'], note[type='usage'] {display:block}
note[type='def'] {color: blue} /* diagnostic, these are temporary, kept in version 0.4 of the dictionary */
note[type='def']:before { content:""; color: blue; font-weight:normal}

note[type='gram']:before {content:"Usage (gram.): "; color: blue; font-weight:normal}
note[type='usage']:before {content:"Usage: "; color: blue; font-weight:normal}

note[type='def']:after, note[type='status']:after, note[type='gram']:after, 
note[type='usage']:after { content:""}

/* status -- in the header */
note[type='status']:before {content:"Status: "; color:black}

note {color: navy; display:block}
note:before {content: "NOTE: "; color: orange; font-weight:bold}


/* hiding note/@type="editor" elements */
note[type='editor'] {display:none}

/* note[type='editor'] {color: red}  hidden in the production dictionary */

entry {margin:2em}

sense {margin-left: 1em}
sense[n]:before {content:attr(n) "."}
sense:before {content:"• "}

form[type='N']:after {content: " [sg=pl]"}

entry > form > orth {font-weight: bold}
re > form > orth {font-weight: bold}
orth[type=morph]+orth {display: none} /* out */
entry[n='1'] > form > orth:first-child:after {content:"1"; font-size: 0.7em;
    vertical-align: top; bottom: 0.33em}
entry[n='2'] > form > orth:first-child:after {content:"2"; font-size: 0.7em;
    vertical-align: top; bottom: 0.33em}
entry[n='3'] > form > orth:first-child:after {content:"3"; font-size: 0.7em;
    vertical-align: top; bottom: 0.33em}
entry[n='4'] > form > orth:first-child:after {content:"4"; font-size: 0.7em;
    vertical-align: top; bottom: 0.33em}

/* this might be made more universal, though I'm not sure it's worth the time */
orth[type=variant]:before {content: "(also ";font-weight:normal}
orth[type=variant]:after {content: ")";font-weight:normal}

form+xr[type=plural-form]:before {content:"(pl: "}
form+xr[type=plural-form]:after {content:")"}
xr[type=plural-form]>ref + ref:before {content:", "; color:black}

def+xr[type=plural-sense] {display:block}
def+xr[type=plural-sense]:before {content:"· "}
xr[type=plural-sense]:after {content:":"}

cit[type='trans'] {display:inline}
cit[type='dicteg'] {display:block}

cit[type='trans'] > quote {display:inline}
cit[type='trans'] > quote + note {display:inline}

xr[type=cf] {display:block}

ref {color: teal; text-decoration: none}
xr[type=tail_infl] > ref {color: green; }
/* ref+ref:before {content:"· "; text-decoration: none;} */

def+def:before {content:"· "}

/*hi[rend='it'] {font-style: italic}*/

/*********** ERRORS ***********/
entry > xr[type=syn] { color: red; font-weight: bold; font-size: larger }
 /* synonyms always for a particular sense */
 
 [rend='red'] {color: red}
 [rend='red']:before {content: "ERROR: "; color: red} /* sometimes the rend can appear on an empty element */
 
 note[type='dunno'] {color: green}
 